<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/js/anime.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

  <div class="container mt-2">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" style="cursor: pointer;">All Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#addPhoto" data-toggle="modal" style="cursor: pointer;">Add Photo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" data-target="#removeAll" data-toggle="modal" style="cursor: pointer;">Remove All</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class=" row mb-4 d-flex justify-content-between">
          <% data.forEach((el,i) => { %>
            <div class="card" style="width: 30%; height: 30%;"  onmouseover="mouseOverImg(this)"
              onmouseout="mouseOutImg(this)">
              <img src="<%- el.smallPhotoPath%>" data-toggle="modal" data-target="#<%-el._id%>" style="cursor: pointer;" onclick="showSelf(this)">
              
              <div class="card-body shadow">
                <ul class="list-group list-group-flush">
                  <button class="btn list-group-item mb-1"><%- el.title %></button>
                  <button class="btn list-group-item mb-1 text-danger">Remove Photo</button>
                  <button class="btn list-group-item mb-1 text-primary" data-toggle="modal" data-target="#<%-el._id%>"  onclick="showSelf(this)">Show Large
                    Version</button>
                </ul>
              </div>
            </div>
          <% if ((i+1)%3===0 && i!=0) { %>
          </div>
          <div class=" row mb-4 d-flex justify-content-between">
            <% } %>
              <%if (i+1===data.length) { %>
              </div>
          <% } %>
          <% }) %>
          

          

      </div>


      <!-- ||||| Modals ||||| -->

      <!-- Add Photo -->
      <div class="modal fade" id="addPhoto" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Photo To Gallery</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <div class="m-3">To Add Photo Please Select Your Photos And Set Title For Them</div>
              <form id="addPhotoForm" enctype="multipart/form-data">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Photos</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" multiple accept="image/*" class="custom-file-input" id="formPhotos">
                    <label class="custom-file-label text-left" for="inputGroupFile01">Select Photo Or Photos</label>
                  </div>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" name="title" id="formTitle"
                    aria-describedby="inputGroup-sizing-sm" placeholder="If More One File Please Seperate Titles By ,">
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="">Add</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>


      <!-- Remove All Picture Modal -->
      <div class="modal fade" id="removeAll" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Remove All Picture</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <div class="m-3">Are Sure You Wanna Delete All Picture ???</div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="">Delete</button>
              </div>

            </div>
          </div>
        </div>
      </div>

</body>
<script src="/js/script.js"></script>

</html>